h2 {
    text-decoration: none;
}
a {
    text-decoration: none;}

.Characters-Display {
    display: flex;
    margin: 0 1vw;
    border: 2px solid black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color : lightgray;
    color: yellow;
}

.Characters-container {
    width:80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
}